### Fundamentos de python
* Variables
* Operadores matemáticos
* Operadores lógicos
* Operadores de comparación
* Condicionales
    - Simples
    - Compuestos
    - Anidados
    - Encadenados
* Ciclos
    - Finitos (for)
    - Infinitos (while)
* Funciones
* Estructuras de datos
    - Caracteres
    - Enteros
    - Flotantes
    - Listas
    - Diccionarios
    - Tuplas
* Fundamentos de POO

In [1]:
print("Epale")

Epale

In [ ]:
# variables
name = "Javier"

In [3]:
name

'Javier'

In [5]:
last_name = "Gonzalez"

In [6]:
LastName = "Primero"

In [7]:
Name = "Segundo"

In [8]:
NAME = "Tercero"

In [9]:
last-name = "primero"

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (906108882.py, line 1)

In [10]:
last.name = "primero"

NameError: name 'last' is not defined

In [11]:
qwhqwohedqow = 12

In [ ]:
fuerza = 12
masa = 13
acelaratio = 14
gravedad = 9.8

In [12]:
name

'Javier'

In [13]:
# operadores matematicos
suma = 2 + 2
resta = 2 - 2
multiplicacion = 2 * 2
division = 2 / 2

In [19]:
number1 = 12
number2 = 20.33

In [20]:
suma = number1 + number2
resta = number1 - number2
multiplicacion = number1 * number2
division = number1 / number2

In [21]:
print(suma) 
print(resta)

32.33
-8.329999999999998

In [26]:
print(f"El resultado de la suma es: {suma}") 
print(f"resta: {resta}")
print(f"multiplicacion: {multiplicacion}")
print(f"division: {division}")

El resultado de la suma es: 32.33
resta: -8.329999999999998
multiplicacion: 243.95999999999998
division: 0.5902606984751599

In [ ]:
# operadores de comparacion
# igual a ==
# mayor que >
# menor que <
# mayor o igual que >=
# menor o igual que <=
# diferente !=

In [27]:
3 > 2

True

In [28]:
3 != 3

False

In [29]:
number1 == number2

False

In [ ]:
# condicionales
print(number1)
print(number2)

if number1 < number2:
    print("number1 es menor que number2")

12
20.33
number1 es menor que number2

In [ ]:
# condicionales
print(number1)
print(number2)

if number1 > number2:
    print("number1 es mayor que number2")
else:
    print("Number1 no es mayor que number2")

12
20.33
Number1 no es mayor que number2

In [44]:
# condicionales
number1 = 14
number2 = 12

if number1 > number2:
    print("number1 es mayor que number2")

elif number1 < number2:
    print("number1 es menor que number2")
    
elif number1 == number2:
    print("number1 es igual a number2")
# else:
#      print("Ingrese un valor valido")

number1 es mayor que number2

In [45]:
# condicionales
number1 = 14
number2 = 12

if number1 > number2:
    if number1 > 10:
        print("number1 es mayor que number2")
        print("number1 es mayor que 10")

number1 es mayor que number2
number1 es mayor que 10

In [47]:
# condicionales
number1 = 14
number2 = 12

if (number1 > number2) and (number1 > 10):
    print("number1 es mayor que number2")
    print("number1 es mayor que 10")

number1 es mayor que number2
number1 es mayor que 10

In [52]:
# condicionales
number1 = 14
number2 = 12.45

if number1 > number2:
    if number1 > 10:    
        print("number1 es mayor que number2")
    else:
        print("number1 no es mayor que number2")
else:
    print("number1 no es mayor que number2")

number1 es mayor que number2

In [48]:
# Estruturas de datos
# strings
name = "josefino"

In [49]:
type(name)

str

In [50]:
name.capitalize()

'Josefino'

In [51]:
type(number1)

int

In [53]:
type(number2)

float

In [54]:
# listas
name_list = ["jose", "javier", "josefino", "josefina"]

In [55]:
age_list = [20, 30, 40, 50]

In [56]:
name_list.append("ruperto")

In [57]:
name_list

['jose', 'javier', 'josefino', 'josefina', 'ruperto']

In [58]:
age_list2 = [
    23,
    32,
    45,
    50
]

In [59]:
name_list

['jose', 'javier', 'josefino', 'josefina', 'ruperto']

In [60]:
name_list[1]

'javier'

In [61]:
name_list[3]

'josefina'

In [62]:
name_list[-1]

'ruperto'

In [63]:
name_list[0]

'jose'

In [64]:
name_list

['jose', 'javier', 'josefino', 'josefina', 'ruperto']

In [72]:
# slice de una lista
name_list[0:4]

['jose', 'javier', 'josefino', 'josefina']

In [73]:
len(name_list)

5

In [77]:
# ciclos finitos
for name in name_list:
    print(name)

jose
javier
josefino
josefina
ruperto

In [79]:
# ciclos finitos
for name in name_list:
    if name == "ruperto":
        # imprime la posicion de la lista
        print(name_list.index(name))

4

In [87]:
# recorrido de una lista por indices
for item in range(len(name_list)):
    if name_list[item] == "ruperto":
        # imprime la posicion de la lista
        print(name_list[item])
        print(item)

ruperto
4

In [93]:
# rango de valores con range
for i in range(5,11):
    print(i)

5
6
7
8
9
10

### Funciones en python

In [1]:
def saludos():
    print("Hola")

In [2]:
saludos()

Hola

In [3]:
# función que salude a un nombre
def saludos(name):
    print(f"Hola {name}")

In [4]:
saludos("josefino")

Hola josefino

In [ ]:
# función que sumur dos números
def suma(number1, number2):
    return number1 + number2

In [ ]:
suma(2, 3)

5

In [7]:
# función para calcular la altura de un triángulo
def area_triangulo(base, altura):
    return (base * altura) / 2

In [8]:
area_triangulo(2, 3)

3.0

In [9]:
area_triangulo(base=3, altura=2)

3.0

In [10]:
area_triangulo(altura=2, base=3)

3.0

In [11]:
# función con argumentos por defecto    
def area_triangulo(base=2, altura=3):
    return (base * altura) / 2

In [16]:
area_triangulo(5,3)

7.5

In [17]:
# documentación de una función
def area_triangulo3(base=2, altura=3):
    """
    Esta función calcula el área de un triángulo
    :param base: base del triángulo
    :param altura: altura del triángulo
    :return: área del triángulo
    """
    return (base * altura) / 2

In [ ]:
area_triangulo3()

In [18]:
# documentación de una función
def area_triangulo4(base:float, altura:float) -> float:
    """
    Esta función calcula el área de un triángulo
    :param base: base del triángulo float o int
    :param altura: altura del triángulo float o int
    :return: área del triángulo float
    """
    return (base * altura) / 2

In [19]:
area_triangulo4(2,3)

3.0

In [22]:
area_triangulo4(2.4,3.5)

4.2

In [25]:
area_triangulo4(altura=3.5, base=2.4)

4.2